.backToTop {
    position: fixed;
    bottom: $em20;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    color: $color-red;
    cursor: pointer;
    transition: transform .4s, opacity .4s;
    opacity: 0;
    pointer-events: none;

    @include phablet {
        @include landscape {
            left: auto;
            right: $em30;
            transform: translateX(0%);
        }
    }

    svg {
        width: $em35;
        height: $em35;
    }

    &:hover {
        transform: translateX(-50%) scale(.9);
    }

    &.visible {
        opacity: 1;
        pointer-events: all;
    }
}